.slide {
  margin: 70px 40px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.slide h1 {
  font-family: "RethinkSans-Bold";
  font-size: 36px;
}

.slide p {
  font-family: "RethinkSans-Regular";
  font-size: 22px;
}

.slide img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 767px) {
  .slide {
    margin: 40px 30px;
    gap: 10px;
  }

  .slide h1 {
    font-family: "RethinkSans-Bold";
    font-size: 16px;
  }

  .slide p {
    font-family: "RethinkSans-Regular";
    font-size: 12px;
  }

  .slide img {
    width: 70px;
    height:70px;
  }
}
