
.navbar{
    border: none;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    z-index: 1;
}
.navbar .logo{
    margin-left: 16px;
    height: 160px;
    width: 160px;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}
.nav-links li{
    
    padding: 0 20px;
    display: inline-block;
    color: black;
    list-style-type: none;
    position: relative;
}
.nav-links li a{
    font-family: "RethinkSans-ExtraBold";
    color: black;
    font-size: var(--font-size-buttons);
    text-decoration: none;
}

.nav-links li a:hover{
    color: #328AB8;
}

.nav-links li a.active{
    color: var(--color-primary);
}
.nav-buttons{
    display: flex;
    gap: 20px;
    margin-right: 48px;
}

.btn-contact{
    font-family: "RethinkSans-ExtraBold";
    border: 1px #328AB8 solid;
    border-radius: 8px;
    font-size: var(--font-size-buttons);
    color: white;
    width: 160px;
    height: 48px;
    padding: 8px;
    background-color: var(--color-primary);
    cursor: pointer;
}
a{
    text-decoration: none;
}
.btn-translate{
    font-family: "RethinkSans-ExtraBold";
    border: 1px #328AB8 solid;
    border-radius: 8px;
    font-size: var(--font-size-buttons);
    color: #328AB8;
    width: 160px;
    height: 48px;
    padding: 8px;
    background-color: white;
    cursor: pointer;
}
.btn-contact:hover {
    border: 1px var(--color-secondary) solid;
    background-color: var(--color-secondary);
}
.btn-translate:hover{
    color: white;
    border: 1px var(--color-secondary) solid;
    background-color: var(--color-secondary);
}
.burger-button{
    margin-right: 2rem;
    display: none;
}
@media(max-width: 850px){
    .nav-menu{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        position: fixed;
        top: 80px;
        bottom: 80px;
        right: -300px;
        width: 192px;
        height: 100vh;
        padding: 16px;
        transition: 0.4s ease-in-out;
        z-index: 1;
    }
    .nav-menu.expanded{
        right: 0px;
    }
    .nav-links li{
        margin: 10px;
        display: block;
    }
    .nav-links li a{
        font-size: var(--font-size-very-small);
    }
    .nav-buttons{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: 20px;
        margin-bottom: 170px;
    }
    .btn-contact, .btn-translate{
        font-size: var(--font-size-very-small);
        width: 120px;
        height: 36px;
    }
    .burger-button{
        display: block;
    }
}