.img-client {
  width: 200px;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .img-client {
    width: 120px;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .img-client {
    width: 70px;
    height: auto;
  }
}
