.process-card-container {
  position: relative;
  margin-top: var(--desktop-margin);
  width: 100%;
  background-image: url("../../../assets/images/Cards/processCard/process-card.webp");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
.process-card-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.process-card {
  padding: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.process-card h3 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.0999730893433801rem + 0.6458557588805166vw, 1.875rem);
  z-index: 1;
}

.process-card h3 span {
  font-family: "RethinkSans-ExtraBold";
  color: var(--color-primary);
}

.process-card .cards {
  background-color: rgba(83, 83, 83, 0.5);
  padding: 40px;
  border-radius: 16px;
  font-weight: bold;
  display: flex;
  z-index: 1;
}
.process-card .cards div {
  text-align: center;
  max-width: 315px;
}
.process-card .cards hr {
  border: 3px solid var(--color-primary);
  border-radius: 4px;
  margin: 0px 20px;
}
.process-card .cards div h4 {
  font-family: "RethinkSans-Bold";
  height: auto;
  margin-bottom: 20px;
  color: var(--color-primary);
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 0.9833153928955867rem + 0.4305705059203444vw, 1.5rem);
}

.process-card .cards div h4 span {
  font-family: "RethinkSans-ExtraBold";
}

.process-card .cards p {
  font-weight: normal;
  font-size: 1rem;
  font-size: clamp(1rem, 0.7333153928955867rem + 0.4305705059203444vw, 1.25rem);
}

@media (width < 1000px) {
  .process-card-container {
    margin-top: var(--mobile-margin);
    height: auto;
    width: 100%;
    background-attachment: local;
  }

  .process-card {
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .process-card h3 {
    font-size: 14px;
  }

  .process-card .cards {
    background-color: rgba(83, 83, 83, 0.5);
    padding: 40px;
    flex-direction: column;
  }
  .process-card .cards div {
    text-align: center;
    max-width: 200px;
    margin: 0px;
  }
  .process-card .cards hr {
    border: 1px solid var(--color-primary);
    margin: 15px 0px;
  }
  .process-card .cards div h4 {
    height: 30px;
    margin-bottom: 12px;
    font-size: 14px;
  }
  .process-card .cards p {
    font-weight: normal;
    font-size: 12px;
  }
}
@media (width <= 290px) {
  .process-card {
    padding: 20px;
  }
}
