/* .slide-container {
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
  background-image: url("../../../../assets/images/building-carousel-home.png");
  background-size: cover;
  background-position: center;
}
.slide-container .slide-bars {
  position: absolute;
  width: 100%;
  padding: 4% 8%;
  display: flex;
  gap: 8%;
}

.slide-container .slide-bars span {
  width: 100%;
  height: min(6px,0.4vw);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  background-color: none;
}
.slide-container .slide-bars .active {
  background-color: rgba(255, 255, 255, 0.6);
}

.slide-container .prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
 
}
.slide-container .prev:hover,
.next:hover {
  color: white;
 
}
.slide-container .prev {
  left: 0;
}
.slide-container .next {
  right: 0;
}

@media (width <= 1000px) {
  .slide-container {
    border-radius: 0;
    box-shadow: none;
  }
  .slide-container .slide-bars span {
    height: 1vw;
  }
} */
