
.button-link a{
  display: inline-block;
}

.button-link button {
  cursor: pointer;
  font-family: "RethinkSans-SemiBold";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: #0083cf;
  border-radius: 6px;
  background-color: #0083cf;
  width: 230px;
  height: 64px;
  color: white;
  font-size: 26px;
}

@keyframes moveIcon {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(80%);
  }
}

.button-link .math-greater {
  width: 20px;
  height: 20px;
  animation: moveIcon 1.1s linear infinite;
}

@media screen and (max-width: 991px) {
  .button-link button {
    gap: 12px;
    border-radius: 4px;
    width: 151.5px;
    height: 40px;
    font-size: 16px;
  }
  .button-link .math-greater {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 767px) {
  .button-link button {
    width: 98px;
    height: 26px;
    border-radius: 2.57px;
    font-size: 12px;
    gap: 4px;
  }
  .button-link .math-greater {
    width: 8.23px;
    height: 8.23px;
  }
}

@media screen and (max-width: 300px) {
  .button-link button {
    width: 49px;
    height: 13px;
    border-radius: 1.25px;
    font-size: 5.3px;
    gap: 2px;
  }
  .button-link .math-greater {
    width: 4.1px;
    height: 4.1px;
  }
}
