.container-empresas {
  max-height: 385px;
  max-width: 1920px;
}
.container-empresas h2 {
  font-family: "RethinkSans-Regular";
  font-weight: normal;
  font-size: var(--font-size-big);
  text-align: center;
  margin-top: 48px;
  margin-bottom: 40px;
}
.container-empresas h2 span {
  font-weight: bold;
  color: var(--color-primary);
}

.carrousel-empresas {
  margin: 0 80px 48px 80px;
  max-width: 1760px;
  height: 207px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 60px;
}

.img-empresa {
  width: 200px;
  height: auto;
}

@media screen and (max-width: 991px) {
    .container-empresas {
      width: 100%;
    }
    .container-empresas h2 {
      font-size: 24px;
      margin-top: 16px;
      margin-bottom: 14px;
      
    }
    .carrousel-empresas {
      height: 114px;
      max-width: 100%;
      grid-template-columns: repeat(4, 1fr);
    }
  
    .img-empresa {
      max-width: 140px;
      height: auto;
    }
  }
@media screen and (max-width: 767px) {
  .container-empresas {
    width: 100%;
  }
  .container-empresas h2 {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 7px;
    
  }
  .carrousel-empresas {
    height: 57px;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .img-empresa {
    max-width: 69px;
    height: auto;
  }
}
