footer {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px;
  padding: 20px 10px;
  border-top: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

footer .container .img-logo {
  display: block;
  width: 120px;
  height: auto;
}

footer .container ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.linkedin {
  width: 42px;
  height: 42px;
  fill: var(--color-primary);
}
.linkedin:hover {
  fill: rgb(77, 174, 235);
  transition: 300ms ease-in;
}

.instagram {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  padding: 5px;
  background-color: var(--color-primary);
  fill: white;
}
.instagram:hover {
  background-color: rgb(77, 174, 235);
  border: 1px solid rgb(77, 174, 235);
  transition: 300ms ease-in;
}

.facebook {
  width: 47px;
  height: 47px;
  fill: var(--color-primary);
}
.facebook:hover {
  fill: rgb(77, 174, 235);
  transition: 300ms ease-in;
}

footer .copyright {
  margin: 20px 0px;
  text-align: center;
  font-family: "RethinkSans-SemiBoldItalic";
}

@media screen and (max-width: 767px) {
  footer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  footer .container {
    flex-direction: column;
    gap: 14px;
    margin: 0px 50px;
    padding: 0px 10px;
    border-top: none;
    border-bottom: none;
  }
  footer .container .logo {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-top: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    width: 100%;
  }
  footer .container .img-logo {
    display: block;
    width: 100px;
    height: auto;
  }

  .linkedin {
    width: 32px;
    height: 32px;
  }
  .instagram {
    width: 30px;
    height: 30px;
  }
  .facebook {
    width: 37px;
    height: 37px;
  }
  footer .copyright {
    font-size: 9px;
    margin: 12px 0px;
  }
}
