footer {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px;
  padding: 20px 10px;
  border-top: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

footer .container .img-logo {
  display: block;
  width: 120px;
  height: auto;
}

footer .container ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer .container ul li {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  border-radius: 50%;
}

.linkedin {
  margin-top: 3px;
  width: 24px;
  height: auto;
  fill: white;
}
.instagram {
  margin-top: 5px;
  width: 26px;
  height: auto;
  fill: white;
}
.facebook {
  margin-top: 5px;
  width: 16px;
  height: auto;
  fill: white;
}
footer .container ul li:hover {
  background-color: rgb(77, 174, 235);
  border: 1px solid rgb(77, 174, 235);
  transition: 300ms ease-in;
}

footer .copyright {
  margin: 20px 0px;
  text-align: center;
  font-family: "RethinkSans-SemiBoldItalic";
}

@media screen and (max-width: 767px) {
  footer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  footer .container {
    flex-direction: column;
    gap: 14px;
    margin: 0px 50px;
    padding: 0px;
    border-top: none;
    border-bottom: none;
  }
  footer .container .logo {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-top: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    width: 100%;
  }
  footer .container .img-logo {
    display: block;
    width: 100px;
    height: auto;
  }

  footer .container ul li {
    width: 33px;
    height: 33px;
  }

  .linkedin {
    width: 16px;
  }
  .instagram {
    width: 17.3px;
  }
  .facebook {
    width: 10.6px;
  }
  footer .copyright {
    font-size: 9px;
    margin: 12px 0px;
  }
}
