.application-card-container {
  margin-top: var(--desktop-margin);
  display: flex;
  padding: 20px 0px;
  justify-content: center;
}

.application-card {
  box-shadow: 0px 0px 14px rgba(204, 216, 255, 0.6);
  background-color: #fafbff;
  border-radius: 16px;
  width: min(1500px, 90%);
  height: auto;
  padding: 2.5vw 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  align-items: center;
  gap: 0rem;
}

.application-card .text-content h1 {
  font-size: clamp(16px, 3vw, 46px);
}
.application-card .text-content h1 span {
  font-family: "RethinkSans-ExtraBold";
  color: var(--color-primary);
}

.application-card .text-content p {
  font-size: clamp(10px, 1.5vw, 26px);
  margin: 1vw 0;
}
.application-card .text-content p span {
  font-weight: bold;
  color: var(--color-primary);
}

.application-card .image-content img {
  padding-left: 3vw;
  height: auto;
  width: 100%;
}

.math-greater{
  width: clamp(0.3125rem, 0.2326rem + 0.6395vw, 1rem);
  height: auto;
}

@media (width < 767px) {
  .application-card-container {
    margin-top: var(--mobile-margin);
    padding: 20px 0px;
  }

  .application-card {
    box-shadow: none;
    background-color: white;
    border-radius: none;
    width: 100%;
    height: auto;
    padding: 0;
    grid-template-columns: 1fr;
    place-content: center;
    align-items: center;
    gap: 2rem;
  }
  .application-card .text-content {
    box-shadow: 0px 0px 14px rgba(204, 216, 255, 0.6);
    background-color: #fafbff;
    border-radius: 8px;
    margin: 0 1rem;
    padding: 2rem;
    text-align: center;

  }
  .application-card .text-content h1 {
    font-size: clamp(1rem, 0.782rem + 1.7442vw, 2.875rem);
  }

  .application-card .text-content p {
    font-size: clamp(0.625rem, 0.5233rem + 0.814vw, 1.5rem);
    margin: 1.2rem 0 1.2rem .5rem;
    text-align: left;
  }
  .application-card .image-content {
    max-height:310px;
    overflow: hidden;
  }
  .application-card .image-content img {
    object-fit: scale-;
    padding-left: 0;
    height: auto;
    width: 100%;
  }
}
