.application-card-container {
  margin-top: var(--desktop-margin);
  display: flex;
  padding: 20px 0px;
  justify-content: center;
}

.application-card {
  box-shadow: 0px 0px 14px rgba(204, 216, 255, 0.6);
  background-color: #fafbff;
  border-radius: 16px;
  width: min(1500px, 90%);
  height: auto;
  padding: 40px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  align-items: center;
}

.application-card .text-content h2 {
  font-size: clamp(24px, 2.8vw, 46px);
}
.application-card .text-content h2 span {
  font-family: "RethinkSans-ExtraBold";
  color: var(--color-primary);
}

.application-card .text-content p {
  font-size: clamp(16px, 1.5vw, 24px);
  margin: 30px 0;
}
.application-card .text-content p span {
  font-weight: bold;
  color: var(--color-primary);
}

.application-card .image-content picture img {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  margin-left: 3vw;
  height: auto;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

@media (width < 1000px) {
  .application-card-container {
    margin-top: var(--mobile-margin);
    padding: 20px 0px;
  }
  .application-card {
    box-shadow: none;
    background-color: white;
    border-radius: none;
    width: 100%;
    height: auto;
    padding: 0;
    grid-template-columns: 1fr;
    place-content: center;
    align-items: center;
    gap: 2rem;
  }
  .application-card .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 14px rgba(204, 216, 255, 0.6);
    background-color: #fafbff;
    border-radius: 8px;
    margin: 0 8vw;
    padding: 8vw;
    text-align: center;
  }
  .application-card .text-content h2 {
    font-size: clamp(12px, 5vw, 36px);
  }
  .application-card .text-content p {
    margin: 3vw 0 3vw 3vw;
    font-size: clamp(6px, 3vw, 20px);
    text-align: left;
  }
  .application-card .image-content {
    max-height: 600px;
    overflow: hidden;
  }
  .application-card .image-content picture img {
    box-shadow: none;
    margin-left: 0;
    height: auto;
    width: 100%;
  }
}
