@font-face {
    font-family: "RethinkSans-Bold";
    src: url('assets/fonts/RethinkSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "RethinkSans-Medium";
    src: url('assets/fonts/RethinkSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: "RethinkSans-ExtraBold";
    src: url('assets/fonts/RethinkSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: "RethinkSans-SemiBold";
    src: url('assets/fonts/RethinkSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: "RethinkSans-Regular";
    src: url('assets/fonts/RethinkSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "RethinkSans-SemiBoldItalic";
    src: url('assets/fonts/RethinkSans-SemiBoldItalic.ttf') format('truetype');
}

:root{
    --color-primary: #328AB8;
    --color-secondary: #56b7ff;
    --color-tertiary: #60A4C8;
    --font-size-very-small: 16px;
    --font-size-small: 18px;
    --font-size-buttons: 21px;
    --font-size-big: 32px;
    --font-size-titles-small: 24px;
    --font-size-titles-medium: 62px;
    --font-size-titles-big: 96px;
    --desktop-margin: 100px;
    --tablet-margin: 75px;
    --mobile-margin: 50px;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "RethinkSans-Regular",'Arial Narrow', Arial, sans-serif;
}
