.home-card-container {
  margin-top: var(--desktop-margin);
  display: flex;
  padding: 20px 0px;
  justify-content: center;
}

.home-card {
  box-shadow: 0px 0px 14px rgba(204, 216, 255, 0.6);
  background-color: #fafbff;
  border-radius: 16px;
  width: min(1500px, 90%);
  height: auto;
  padding: 40px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  align-items: center;
}

.home-card .text-content h1 {
  font-size: clamp(24px, 2.8vw, 46px);
}
.home-card .text-content h1 span {
  font-family: "RethinkSans-ExtraBold";
  color: var(--color-primary);
}

.home-card .text-content p {
  font-size: clamp(16px, 1.5vw, 24px);
  margin: 30px 0;
}
.home-card .text-content p span {
  font-weight: bold;
  color: var(--color-primary);
}

.home-card .slider-content {
  padding-left: 15%;
}

@media (width < 1000px) {
  .home-card-container {
    margin-top: var(--mobile-margin);
    padding: 20px 0px;
  }
  .home-card {
    box-shadow: none;
    background-color: white;
    border-radius: none;
    width: 100%;
    height: auto;
    padding: 0;
    grid-template-columns: 1fr;
    place-content: center;
    align-items: center;
    gap: 2rem;
  }
  .home-card .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 14px rgba(204, 216, 255, 0.6);
    background-color: #fafbff;
    border-radius: 8px;
    margin: 0 8vw;
    padding: 8vw;
    
  }
  .home-card .text-content h1 {
    font-size: clamp(12px, 5vw, 36px);
  }

  .home-card .text-content p {
    margin: 3vw 0 3vw 3vw;
    font-size: clamp(6px, 3vw, 20px);
    text-align: left;
  }
  .home-card .text-content p span {
    font-weight: bold;
    color: var(--color-primary);
  }
  .home-card .slider-content {
    width: 100%;
    padding: 0;
    height: auto;
  }
}

